.main{
  width: 350px;
  border: 1px solid black;
  height: 600px;
  background-color: black;
  color: white;
}

.flex-direction{
  flex-direction: column;
}

.btn{
  width: 200px;
  padding: 10px 60px;
  box-shadow: 2px 2px 2px 1px rgba(211, 211, 211, 0.573);
  border: none;
  color: whitesmoke;
}

.logout{
  border:none;
  background-color: transparent;
}

#logIn{
  background-color: black;
  color: white;
}

a{
  text-decoration: none;
}

p{
  color: gray;
}